main {
	background-color: rgb(255, 255, 255, 0.6);
	width: 923px;
	height: 1502px;
	position: relative;
	top: -57px;
	left: 125px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.6fr 1.8fr 0.6fr;
  grid-template-areas: "Header Header" "Main-info Main-info" "Footer Footer";

}

.Nieuws {
	grid-area: Nieuws;
	font-size: 18px;
}

.nieuws-container {
	width: 801px;
	height: 601px;
	background-color: rgb(255, 255, 255, 0.4);
	position: relative;
	left:53px;
}

.nieuws-content1 {
	position: relative;
	left: 5px;
	top: 110px;
}

.nieuws-content2 {
	position: relative;
	left: 5px;
	top: -30px;
}

.nieuws-content3 {
	position: relative;
	left: 5px;
	top: -170px;
	font-family: Josefin Sans Light;
}

.nieuws-content4 {
	position: relative;
	left: 5px;
	top: -309px;
}

#nieuws1-image {
	width: 132px;
	height: 126px;
	position: relative;
	left: 30px;
}

#nieuws2-image {
	width: 132px;
	height: 126px;
	position: relative;
	left: 30px;
}

#nieuws3-image {
	width: 132px;
	height: 126px;
	position: relative;
	left: 30px;
}

#nieuws4-image {
	width: 132px;
	height: 126px;
	position: relative;
	left: 30px;
}

#p-nieuws {
	position: relative;
	left: 250px;
	top: -140px;
	width: 600px;
	font-family: Josefin Sans;
}

.Blogpost {
	grid-area: Blogpost;
	font-size: 18px;
	font-family: Josefin Sans Light;
	width: 850px
}

.blog-container {
	width: 801px;
	height: 700px;
	background-color: rgb(255, 255, 255, 0.3);
	position: relative;
	left:52px
}

.blog-content1 {
	position: relative;
	left: 5px;
	top: 110px;
}

.blog-content2 {
	position: relative;
	left: 5px;
	top: -30px;
}

.blog-content3 {
	position: relative;
	left: 5px;
	top: -170px;
	font-family: Josefin Sans Light;
}

.blog-content4 {
	position: relative;
	left: 5px;
	top: -309px;
}

#blog1-image {
	width: 132px;
	height: 126px;
	position: relative;
	left: 30px;
}

#blog2-image {
	width: 132px;
	height: 126px;
	position: relative;
	left: 30px;
}

#blog3-image {
	width: 132px;
	height: 126px;
	position: relative;
	left: 30px;
}

#blog4-image {
	width: 132px;
	height: 126px;
	position: relative;
	left: 30px;
}

#p-blog {
	position: relative;
	left: 184px;
	top: -140px;
	width: 600px;
	font-family: Josefin Sans;
}

.Footer {
	grid-area: Footer;
	font-family: JosefinSans;
	width: 923px;
	position: relative;
	top: 125px;
	left: 124px;
}
