main {
	background-color: rgb(255, 255, 255, 0.6);
	width: 923px;
	height: 1940px;
	position: relative;
	top: -58px;
	left: 169px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.6fr 1.8fr 0.6fr;
  grid-template-areas: "Header Header" "Side-content Main-information" "Footer Footer";
}

.Side-content {
	grid-area: Side-content;
	border: 1px solid white;
	font-family: Josefin Sans;
	position: relative;
	top: 176px;
	left: 765px;
}

.category-container {
	position: relative;
	top: 176px;
	left: 15px;
}

#category-header {
	font-family: Josefin Sans;
	font-size: 20px;
	position: relative;
	top: -20px;
	left: 75px;
}

.onderzoek-toevoegen-container {
	background-color: rgb(255, 255, 255, 0.6);
	font-family: Josefin Sans;
	width: 238px;
	height: 309px;
	position: relative;
	top: 260px;
	left: 15px;
}

.onderzoek-toevoegen {
	width: 238px;
	height: 25px;
}

#toevoegen-header {
	font-size: 20px;
	font-family: Josefin Sans;
	text-align: center;
}

.kwaliteit-tekst-container {
	background-color: rgb(255, 255, 255, 0.6);
	font-family: Josefin Sans;
	width: 204px;
	height: 249px;
	position: relative;
	top: 260px;
	left: 5px;
}

#kwaliteit-tekst {
	font-family: Josefin Sans Light;
	position: relative;
	top: 25px;
	left: 5px;
}

.Main-information {
	grid-area: Main-information;
}

#main-info-header {
	font-size: 48px;
	font-weight: Josefin Sans;
	text-align: center;
	position: relative;
	top: -400px;
}

.onderzoek-tekst-container {
	background-color: rgb(255, 255, 255, 0.6);
	width: 510px;
	height: 141px;
	padding: 10px;
	position: relative;
	top: -350px;
	left: 340px;
}

#onderzoek-tekst {
	font-family: Josefin Sans Light;
}

.table-container {
	position: relative;
	left: 350px;
	top: -277px;
	width: 510px;
	height: 1460px;
	background-color: rgb(255, 255, 255, 0.6);
}

.Footer {
	grid-area: Footer;
	font-family: JosefinSans;
	width: 923px;
	position: relative;
	top: -59px;
	left: 168px;
}
