main {
	background-color: rgb(255, 255, 255, 0.6);
	width: 923px;
	height: 940px;
	position: relative;
	top: 101px;
	left: 283px;
}

body {
	color: black;
	background-image: url('../image/partner_bg_image.jpg');
	height: 100%;
	width: 1200px;
	background-size: cover;
}

.Main-info {
	grid-area: Main-info;
}

.Footer {
	grid-area: Footer;
	font-family: JosefinSans;
	width: 923px;
	position: relative;
	top: 16px;
	left: 156px;
}
