main {
	background-color: rgb(255, 255, 255, 0.6);
	width: 923px;
	height: 1100px;
	position: relative;
	top: -11px;
	left: 121px;
}


.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.6fr 1.8fr 0.6fr;
  grid-template-areas: "Header Header" "Main-info Main-info" "Footer Footer";
}

.Main-info { grid-area: Main-info;

}

#subsidie-image{
width: 282px;
height: 328px;
position:relative;
top: 398px;
left:124px;

}

#registratie-image{
	width: 282px;
	height: 328px;
	position:relative;
	top: 398px;
	left:232px;

}

.Footer {
	grid-area: Footer;
	font-family: JosefinSans;
	width: 923px;
	position: relative;
	top: 171px;
	left: 119px;
}
