main {
	background-color: rgb(255, 255, 255, 0.6);
	width: 923px;
	height: 940px;
	position: relative;
	top: 101px;
	left: 283px;
}

body {
	color: black;
	background-image: url('../image/partner_bg_image.jpg');
	height: 100%;
	width: 1200px;
	background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.7fr 1.8fr 0.5fr;
  grid-template-areas: "Header Header" "Main Main" "Footer Footer";
}

.Main-info {
	grid-area: Main-info;
}

.Footer {
	grid-area: Footer;
	font-family: JosefinSans;
	width: 923px;
	position: relative;
	top: 102px;
	left: 166px;
}
